fastapi==0.128.8
uvicorn[standard]==0.39.0
sqlalchemy==2.0.48
pandas==2.3.3
openpyxl==3.1.5
python-multipart==0.0.31
python-dotenv==1.2.2
requests==2.33.0
beautifulsoup4==4.14.3
shapely==2.0.7
psycopg2-binary==2.9.11
PyJWT[crypto]==2.12.1
limits==4.2
